* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  line-height: 1.6rem;
}
:root {
  --header-color: #131921;
  --header-border-bottom: #3b4149;
  --search-icon-color: #febd69;
  --header-menu: #3b4149;
  --home-background: #f5f5f7;
}
body {
  font-family: 'Rubik', sans-serif;
  width: 100%;
  background-color: var(--home-background);
}

a {
  text-decoration: none;
  display: inline-block;
}

// Start Header //
.header-top-strip {
  background-color: var(--header-color);
  border-bottom: 1px solid var(--header-border-bottom);
}

.header-upper {
  background-color: var(--header-color);
  .form-control:focus {
    box-shadow: none;
    border-color: inherit;
  }
  .header-upper-links a {
    position: relative;
    svg {
      margin-right: 10px;
    }
    :nth-last-child(1) {
      margin-bottom: 10px;
    }

    .badge {
      background-color: red;
      position: absolute;
      top: -5px;
      left: -5px;
      border-radius: 100px;
      padding: 5px 7px;
      font-size: 1.2rem;
    }
  }
}

.header-bottom {
  background-color: var(--header-menu);
  .dropdown-menu {
    background-color: var(--header-color);
    width: 100%;
    transform: translate(0px, 46px) !important;

    .dropdown-item:hover {
      background-color: #3b4149;
      color: #febd69 !important;
    }
  }
}

// ------ end header ------

// ----- start footer ----
footer {
  background-color: var(--header-color);
  .row .col-5 {
    font-size: 30px;
  }
}

// ------- end footer ------

// -----------start home 1------------
.home-wrapper-1 {
  background-color: white;
  .banner-slider {
    position: relative;
    .banner-slider__content {
      position: absolute;
      top: 15%;
      left: 10%;
      h4 {
        letter-spacing: 0.3px;
      }
    }
  }
  .banner-static {
    position: relative;
    width: 49%;
    .banner-static__content {
      position: absolute;
      top: 15%;
      left: 10%;
      h4 {
        letter-spacing: 0.3px;
      }
    }
  }
}

// ----------------end home 1----------------

// ----------start  home 2 -----------
.home-wrapper-2 {
  // background-color: var(--home-background);
  .icon-size {
    height: 30px;
  }
}

// --------- end home 2 -----------
.home-wrapper-3 {
  // background-color: white;
  h1 {
    letter-spacing: 5px;
  }
  .menu-highlight {
    // img {
    //   width: auto;
    //   height: 140px;
    // }
    .w-15 {
      width: 15%;
    }
  }
}
.home-marquee {
  .marquee-wrap {
    background-color: white;
    box-shadow: 0 0 10px #0000001a;
    padding: 15px;
    .initial-child-container {
      align-items: center;
    }
  }
}

.home-news {
  .home-news__title {
    letter-spacing: 5px;
  }
  .blog-card:hover {
    border-color: #008bf8 !important;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
    transform: scale(1.05);
  }
}

.product-card {
  .product-image img:last-child {
    display: none;
  }
  // :hover .product-image {
  //   > img:nth-child(1) {
  //     display: none;
  //   }
  //   > img:last-child {
  //     display: block;
  //   }
  // }
  &:hover .product-image img:nth-child(1) {
    display: none;
  }
  &:hover .product-image img:last-child {
    display: block;
  }
}
.flashsale {
  background-color: #ffd391;
  padding: 20px;
  border-radius: 10px;
  .product-card-sale:hover {
    .product-sale-image {
      transform: translateY(-10%);
      transition: 0.2s ease-in;
    }
  }
  .product-sale-details {
    .old-price {
      h4 {
        color: gray;
      }
    }
    .product-count-sale {
      position: relative;
      display: block;
      overflow: visible;
      margin: 15px 0 0;
      min-height: 20px;
      img {
        position: absolute;
        left: 0;
        top: -7px;
        width: 20px;
        height: auto;
        z-index: 1;
      }
      .count {
        position: relative;
        width: 100%;
        display: block;
        min-height: 20px;
        padding-left: 21px;
        background-color: #ddd;
        border-radius: 25px;
        line-height: 20px;
        text-align: center;
        width: 100%;
        bottom: 0;
        left: 0;
        color: #000;
        overflow: hidden;
        .Background {
          display: block;
          height: 100%;
          // width: 50%;
          background: #f7c913 no-repeat left top;
          position: absolute;
          left: 0;
          top: 0;
          min-width: 21px;
        }
        b {
          display: block;
          position: relative;
          z-index: 1;
          font-weight: normal;
        }
      }
    }
  }
}

.slick-slide {
  padding: 8px;
}
.slick-prev:before,
.slick-next:before {
  color: red !important;
  font-size: 50px !important;
  z-index: 10;
}
.slick-prev,
.slick-next {
  width: 50px !important;
  height: 50px !important;
  z-index: 10;
}

.slick-arrow:hover {
  transform: scale(2);
  width: 50px !important;
  height: 50px !important;
  font-size: 50px !important;
}

// our store
.Colors {
  list-style-type: none;
  li {
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
  }
}
.input-price {
  width: 100px;
}
.from-price {
  margin-bottom: 10px;
}

.sort {
  width: 150px;
}
