* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  line-height: 1.6rem;
}
ul {
  list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: black;
}
input:focus,
select:focus,
textarea:focus {
  outline: 0px;
}
:root {
  --header-color: #131921;
  --header-border-bottom: #3b4149;
  --search-icon-color: #febd69;
  --header-menu: #3b4149;
  --home-background: #f5f5f7;
}
body {
  font-family: 'Rubik', sans-serif;
  width: 100vw;
  background-color: var(--home-background);
}

a {
  text-decoration: none;
  display: inline-block;
}
html,
body {
  overflow-x: none;
}
// .is-sticky {
//   position: sticky;
//   top: 0;
//   z-index: 1000;
//   box-shadow: 0 5px 16px rgba(0, 0, 0, 0.1);
//   animation: slideDown 0.5s ease-out;
//   min-height: 70px !important;
// }
// @keyframes slideDown {
//   from {
//     transform: translateY(-100%);
//   }
//   to {
//     transform: translateY(0);
//   }
// }
.header {
  position: sticky;
  // top: 100px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  .header-logo {
    width: 50%;
  }
}

// Start Header //
.header-top-strip {
  background-color: var(--header-color);
  border-bottom: 1px solid var(--header-border-bottom);
}

.header-upper {
  background-color: var(--header-color);
  .form-control:focus {
    box-shadow: none;
    border-color: inherit;
  }
  .header-upper-links a {
    position: relative;
    svg {
      margin-right: 10px;
    }
    :nth-last-child(1) {
      margin-bottom: 10px;
    }

    .badge {
      background-color: red;
      position: absolute;
      top: -5px;
      left: -5px;
      border-radius: 100px;
      padding: 5px 7px;
      font-size: 1.2rem;
    }
  }
}

.header-bottom {
  background-color: var(--header-menu);
  .dropdown-menu {
    background-color: var(--header-color);
    width: 100%;
    transform: translate(0px, 46px) !important;

    .dropdown-item:hover {
      background-color: #3b4149;
      color: #febd69 !important;
    }
  }
}

// ------ end header ------

// ----- start footer ----
footer {
  background-color: var(--header-color);
  .row .col-5 {
    font-size: 30px;
  }
  .word-wrap {
    word-wrap: break-word;
    word-break: break-word;
  }
}

// ------- end footer ------

// -----------start home 1------------
.home-wrapper-1 {
  background-color: white;
  .banner-slider {
    position: relative;
    .banner-slider__content {
      position: absolute;
      top: 15%;
      left: 10%;
      h4 {
        letter-spacing: 0.3px;
      }
    }
  }

  .banner-static {
    position: relative;
    width: 49%;
    .banner-static__content {
      position: absolute;
      top: 15%;
      left: 10%;
      h4 {
        letter-spacing: 0.3px;
      }
    }
  }
}

// ----------------end home 1----------------

// ----------start  home 2 -----------
.home-wrapper-2 {
  // background-color: var(--home-background);
  .icon-size {
    height: 25px;
    width: 25px;
  }
}

// --------- end home 2 -----------
.home-wrapper-3 {
  // background-color: white;
  h1 {
    letter-spacing: 5px;
  }
  .menu-highlight {
    // img {
    //   width: auto;
    //   height: 140px;
    // }
    .w-15 {
      width: 16.66%;
    }
  }
}
.home-marquee {
  .marquee-wrap {
    background-color: white;
    box-shadow: 0 0 10px #0000001a;
    padding: 15px;
    .initial-child-container {
      align-items: center;
    }
  }
}

.home-news {
  .home-news__title {
    letter-spacing: 5px;
  }
  .blog-card:hover {
    border-color: #008bf8 !important;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
    transform: scale(1.05);
  }
}

.product-card {
  .product-image img:last-child {
    display: none;
  }
  .product-image img:nth-child(1) {
    display: block;
  }
  &:hover .product-image img:nth-child(1) {
    display: none;
  }
  &:hover .product-image img:last-child {
    display: block;
  }
}
.flashsale {
  background-color: #ffd391;
  // padding: 20px;
  border-radius: 10px;
  .product-card-sale:hover {
    .product-sale-image {
      transform: translateY(-10%);
      transition: 0.2s ease-in;
    }
  }
  .product-sale-details {
    .old-price {
      h4 {
        color: gray;
      }
    }
    .product-count-sale {
      position: relative;
      display: block;
      overflow: visible;
      margin: 15px 0 0;
      min-height: 20px;
      img {
        position: absolute;
        left: 0;
        top: -7px;
        width: 20px;
        height: auto;
        z-index: 1;
      }
      .count {
        position: relative;
        width: 100%;
        display: block;
        min-height: 20px;
        padding-left: 21px;
        background-color: #ddd;
        border-radius: 25px;
        line-height: 20px;
        text-align: center;
        width: 100%;
        bottom: 0;
        left: 0;
        color: #000;
        overflow: hidden;
        .Background {
          display: block;
          height: 100%;
          width: 50%;
          background: #f7c913 no-repeat left top;
          position: absolute;
          left: 0;
          top: 0;
          min-width: 21px;
        }
        b {
          display: block;
          position: relative;
          z-index: 1;
          font-weight: normal;
        }
      }
    }
  }
}

//slick-react
// .slick-slide {
//   // padding: 8px;
// }
.slick-prev:before,
.slick-next:before {
  color: red !important;
  // font-size: 50px !important;
  z-index: 10;
}
.slick-prev,
.slick-next {
  // width: 50px !important;
  // height: 50px !important;
  z-index: 10;
}

.slick-arrow:hover {
  transform: scale(2);
  // width: 50px !important;
  // height: 50px !important;
  // font-size: 50px !important;
}

// Filter main store
.store-wrapper {
  .filter-card {
    .filter-title {
      font-size: 2rem;
    }
  }
}
.sort {
  min-width: 75px;
  margin-left: 15px;
}
.totalProducts {
  min-width: 95px;
  margin-right: 15px;
}
.hideproduct {
  margin-right: 15px;
}
.display-mobile {
  display: none;
}
.Colors {
  list-style-type: none;
  li {
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
  }
}
.input-price {
  width: 100px;
}
.from-price {
  margin-bottom: 10px;
}

//Product main store
.col-lg-12 .product-card {
  display: flex;
  .product-image {
    width: 250px;
  }
}
.col-3 .product-card .product-image,
.col-4 .product-card .product-image,
.col-12 .product-card .product-image {
  img {
    margin: auto;
  }
}

//login
.login-card,
.forgotpassword-card,
.register-card {
  width: 500px;
  margin: 30px auto;
  .email-wrapper input,
  .forgotpassword-card input,
  .register-card input {
    height: 50px;
  }
  .password-wrapper input {
    height: 50px;
  }
  .forgot-password input {
    height: 50px;
  }
}
//single product

.carousel .thumbs {
  background-color: rgba(204, 197, 197, 0.25);
}
.carousel .thumb {
  border: none;
}

.carousel .dot {
  background-color: #000000 !important;
}

.carousel.carousel-slider:hover .control-arrow {
  background-color: rgba(0, 0, 0, 0.25) !important;
}

.product-count {
  border: 2px solid #f3f3f3;
  border-radius: 5px;
  margin-top: 40px;
  width: 400px;
}
.product-count {
  .flex-box {
    padding: 15px 25px;
    border-bottom: 2px solid #f3f3f3;
    h6 {
      font-size: 16px;
    }
    span {
      font-weight: 600;
    }
    select {
      background-color: #f3f3f3;
      width: 100px;
      height: 40px;
      text-align: center;
      border: 0px;
      border-radius: 5px;
      padding: 10px;
      font-size: 16px;
      border-radius: 5px;

      option {
        padding: 5px;
        font-size: 14px;
        background-color: #fff;
        color: #333;
      }
    }
  }
}

.round-black-btn {
  border-radius: 4px;
  background: #000000;
  color: #fff;
  width: 100%;
  height: 50px;
  border: 0;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
  margin: auto;
  transition: all 0.5s ease-in-out 0s;
}
.round-black-btn:hover,
.round-black-btn:focus {
  background: skyblue;
}
.cart-header {
  border-bottom: 1px solid #eaeaea;
}

.border-top-info {
  height: 3px;
  width: 100%;
  background-position-x: -30px;
  background-size: 116px 3px;
  background-image: repeating-linear-gradient(
    45deg,
    #6fa6d6,
    #6fa6d6 33px,
    transparent 0,
    transparent 41px,
    #f18d9b 0,
    #f18d9b 74px,
    transparent 0,
    transparent 82px
  );
}

.sidebar {
  background-color: #d6dde9;
  .LinkBar {
    padding: 0.5px 5px;
  }
  .active {
    border-radius: 10px;
    border: 0.5px solid #e11b1e;
    background-color: #fee;
    // padding: 0 8px;
    color: red;
  }
}
.popup {
  position: fixed;
  -ms-flex-pack: center;
  -ms-flex-align: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1002;
  padding: 0;
}

.popup-content {
  max-width: 50%;
  width: 80vw;
  height: 100vh;
  overflow: auto;
  background-color: #ffffff;
  padding: 25px;
  border-radius: 5px;
  z-index: 1001;
  margin-right: auto;
}

.popup-header {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.popup-filter {
  margin-top: 20px;
}

.toggle-filter {
  font-size: 20px;
  cursor: pointer;
  // display: none;
}
.overlay-modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: rgba(56, 56, 56, 0.5);
}

.display-mobile {
  display: none !important;
}
