:root {
  --font-family: 'ProximaNova', sans-serif;
  --text-color: #333333;
}
@import 'normalize.css';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  line-height: 1.6rem;
}
@font-face {
  font-family: ProximaNova;
  src: url('/assets/fonts/ProximaNova-Semibold.woff2');
  font-weight: 600;
}
@font-face {
  font-family: ProximaNova;
  src: url('/assets/fonts/Proxima-Nova-Regular.woff2');
  font-weight: 400;
}
@font-face {
  font-family: SofiaPro;
  src: url('/assets/fonts/sofiapro-bold.woff');
  font-weight: 700;
}
html *::-webkit-scrollbar {
  border-radius: 0;
  width: 8px;
}

html *::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.15);
}

html *::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
}

button,
input,
[tabindex] {
  outline: none;
  border: none;
}

a[href] {
  color: var(--text-color);
  text-decoration: none;
}

ul {
  list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: black;
}
input:focus,
select:focus,
textarea:focus {
  outline: 0px;
}
:root {
  --header-color: rgb(255, 255, 255);
  --header-border-bottom: #3b4149;
  --search-icon-color: #febd69;
  --header-menu: rgb(230, 230, 230);
  --home-background: rgb(241, 245, 249);
  // --primary-color: rgb()
}
body {
  // font-family: var(--font-family);
  width: 100vw;
  text-rendering: optimizespeed;
  background-color: var(--home-background);
}
button,
input,
[tabindex] {
  outline: none;
  border: none;
}
a {
  text-decoration: none;
  display: inline-block;
}
html,
body {
  overflow-x: none;
}
// .is-sticky {
//   position: sticky;
//   top: 0;
//   z-index: 1000;
//   box-shadow: 0 5px 16px rgba(0, 0, 0, 0.1);
//   animation: slideDown 0.5s ease-out;
//   min-height: 70px !important;
// }
// @keyframes slideDown {
//   from {
//     transform: translateY(-100%);
//   }
//   to {
//     transform: translateY(0);
//   }
// }
.header {
  position: sticky;
  // top: 100px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  .header-logo {
    width: 50%;
  }
}

// Start Header //
.header-top-strip {
  background-color: var(--header-color);
  border-bottom: 1px solid var(--header-border-bottom);
}

.header-upper {
  background-color: var(--header-color);
  .form-control:focus {
    box-shadow: none;
    border-color: inherit;
  }
  .header-upper-links a {
    position: relative;
    padding: 10px;
    svg {
      margin-right: 10px;
    }
    &:nth-last-child(1) svg {
      // margin-bottom: 10px;
    }
    &:hover {
      background-color: rgb(243 232 255);
      border-radius: 5px;
      color: #0d6efd;
    }
    .badge {
      background-color: red;
      position: absolute;
      top: 10px;
      // left: -5px;
      border-radius: 100px;
      padding: 5px 7px;
      font-size: 1.2rem;
    }
  }
}

.header-bottom {
  background-color: var(--header-menu);
  .dropdown button {
    color: #3b4149;
  }
  .dropdown-menu {
    position: relative;
    background-color: var(--header-color);
    width: 100%;
    min-height: 200px;
    transform: translate(0px, 46px) !important;
    padding: 15px 0;
    border-radius: 15px;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.1), 0 2px 6px 2px rgba(60, 64, 67, 0.15);

    .modal-content {
      position: absolute;
      top: 0;
      left: 100%;
      display: flex;

      // flex: 1 1 0%;
      padding: 15px;
      flex-direction: row;
      min-width: 950px;
      min-height: 200px;
      background-color: whitesmoke;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      font-size: 1.4rem;
      // transition: all 10s ease 0s;
      // animation: slide-in 10s forwards;

      .title {
        margin: 0px 0px 0.5rem;
        padding: 0px;
        border-style: none;
        border-width: 1px;
        border-color: unset;
        opacity: 1;
        color: rgb(20, 53, 195);
        font-weight: 700;
        text-decoration: unset;
        font-size: 15px;
        line-height: 24px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        transition: color 0.3s ease 0s;
      }
      .content a:hover {
        color: #0d6efd;
      }
    }

    .dropdown-item {
      font-size: 1.5rem;
      font-weight: 500;

      &:hover {
        background-color: #f3f5fc;
        color: #0d6efd !important;
      }
    }
  }
}

// ------ end header ------

// ----- start footer ----
footer {
  background-color: var(--header-color);
  .row .col-lg-5 {
    font-size: 30px;
  }
  .word-wrap {
    word-wrap: break-word;
    word-break: break-word;
  }
  .footer-link a:hover {
    color: #008bf8;
  }
}

// ------- end footer ------

// -----------start home 1------------
.home-wrapper-1 {
  background-color: white;
  .banner-slider {
    position: relative;
    .banner-slider__content {
      position: absolute;
      top: 15%;
      left: 10%;
      h4 {
        letter-spacing: 0.3px;
      }
    }
  }

  .banner-static {
    position: relative;
    width: 49%;
    .banner-static__content {
      position: absolute;
      top: 15%;
      left: 10%;
      h4 {
        letter-spacing: 0.3px;
      }
    }
  }
}

// ----------------end home 1----------------

// ----------start  home 2 -----------
.home-wrapper-2 {
  // background-color: var(--home-background);
  .icon-size {
    height: 25px;
    width: 25px;
  }
}

// --------- end home 2 -----------
.home-wrapper-3 {
  // background-color: white;
  h1 {
    letter-spacing: 5px;
  }
  .menu-highlight {
    // img {
    //   width: auto;
    //   height: 140px;
    // }
    .w-15 {
      width: 16.66%;
    }
  }
}
.home-marquee {
  .marquee-wrap {
    background-color: white;
    box-shadow: 0 0 10px #0000001a;
    padding: 15px;
    .initial-child-container {
      align-items: center;
    }
  }
}

.home-news {
  .home-news__title {
    letter-spacing: 5px;
  }
  .blog-card:hover {
    border-color: #008bf8 !important;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
    transform: scale(1.05);
  }
}

.product-card {
  .product-image img:last-child {
    display: none;
  }
  .product-image img:nth-child(1) {
    display: block;
  }
  &:hover .product-image img:nth-child(1) {
    display: none;
  }
  &:hover .product-image img:last-child {
    display: block;
  }
}
.flashsale {
  background-color: #ffd391;
  // padding: 20px;
  border-radius: 10px;
  .product-card-sale:hover {
    .product-sale-image {
      transform: translateY(-10%);
      transition: 0.2s ease-in;
    }
  }
  .product-sale-details {
    .old-price {
      h4 {
        color: gray;
      }
    }
    .product-count-sale {
      position: relative;
      display: block;
      overflow: visible;
      margin: 15px 0 0;
      min-height: 20px;
      img {
        position: absolute;
        left: 0;
        top: -7px;
        width: 20px;
        height: auto;
        z-index: 1;
      }
      .count {
        position: relative;
        width: 100%;
        display: block;
        min-height: 20px;
        padding-left: 21px;
        background-color: #ddd;
        border-radius: 25px;
        line-height: 20px;
        text-align: center;
        width: 100%;
        bottom: 0;
        left: 0;
        color: #000;
        overflow: hidden;
        .Background {
          display: block;
          height: 100%;
          // width: 50%;
          background: #f7c913 no-repeat left top;
          position: absolute;
          left: 0;
          top: 0;
          // min-width: 21px;
        }
        b {
          display: block;
          position: relative;
          z-index: 1;
          font-weight: normal;
        }
      }
    }
  }
}

//slick-react
// .slick-slide {
//   // padding: 8px;
// }
.slick-prev:before,
.slick-next:before {
  color: red !important;
  // font-size: 50px !important;
  z-index: 10;
}
.slick-prev,
.slick-next {
  // width: 50px !important;
  // height: 50px !important;
  z-index: 10;
}

// Filter main store
.toggle-filter {
  padding: 15px 0;
}
.store-wrapper {
  z-index: 1;
  .filter-card {
    .filter-title {
      font-size: 2rem;
    }
  }
}
.sort {
  min-width: 75px;
  margin-left: 15px;
}
.totalProducts {
  min-width: 95px;
  margin-right: 15px;
}
.hideproduct {
  margin-right: 15px;
}
.display-mobile {
  display: none;
}
.Colors {
  list-style-type: none;
  li {
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
  }
}
.input-price {
  width: 100px;
}
.from-price {
  margin-bottom: 10px;
}

//Product main store
.col-lg-12 .product-card {
  display: flex;
  .product-image {
    width: 250px;
  }
}
.col-3 .product-card .product-image,
.col-4 .product-card .product-image,
.col-12 .product-card .product-image {
  img {
    margin: auto;
  }
}

//login
.login-card,
.forgotpassword-card,
.register-card {
  width: 50%;
  margin: 30px auto;
  .email-wrapper input,
  .forgotpassword-card input,
  .register-card input {
    height: 50px;
  }
  .password-wrapper input {
    height: 50px;
  }
  .forgot-password input {
    height: 50px;
  }
}
//single product

.carousel .thumbs {
  background-color: rgba(204, 197, 197, 0.25);
}
.carousel .thumb {
  border: none;
}

.carousel .dot {
  background-color: #000000 !important;
}

.carousel.carousel-slider:hover .control-arrow {
  background-color: rgba(0, 0, 0, 0.25) !important;
}

.product-count {
  border: 2px solid #f3f3f3;
  border-radius: 5px;
  margin-top: 40px;
  width: 400px;
}
.product-count {
  .flex-box {
    padding: 15px 25px;
    border-bottom: 2px solid #f3f3f3;
    h6 {
      font-size: 16px;
    }
    span {
      font-weight: 600;
    }
    select {
      background-color: #f3f3f3;
      width: 100px;
      height: 40px;
      text-align: center;
      border: 0px;
      border-radius: 5px;
      padding: 10px;
      font-size: 16px;
      border-radius: 5px;

      option {
        padding: 5px;
        font-size: 14px;
        background-color: #fff;
        color: #333;
      }
    }
  }
}

.round-black-btn {
  border-radius: 4px;
  background: #000000;
  color: #fff;
  width: 100%;
  height: 50px;
  border: 0;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
  margin: auto;
  transition: all 0.5s ease-in-out 0s;
}
.round-black-btn:hover,
.round-black-btn:focus {
  background: skyblue;
}

.cart-wrapper {
  .cart-wrapper__box {
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.1), 0 2px 6px 2px rgba(60, 64, 67, 0.15);
  }
  .cart-header {
    border-bottom: 1px solid #eaeaea;
  }
}

.border-top-info {
  height: 3px;
  width: 100%;
  background-position-x: -30px;
  background-size: 116px 3px;
  background-image: repeating-linear-gradient(
    45deg,
    #6fa6d6,
    #6fa6d6 33px,
    transparent 0,
    transparent 41px,
    #f18d9b 0,
    #f18d9b 74px,
    transparent 0,
    transparent 82px
  );
}

.sidebar {
  background-color: #d6dde9;
  .LinkBar {
    padding: 0.5px 5px;
  }
  .active {
    border-radius: 10px;
    border: 0.5px solid #e11b1e;
    background-color: #fee;
    // padding: 0 8px;
    color: #008bf8;
  }
}
.popup {
  position: fixed;
  -ms-flex-pack: center;
  -ms-flex-align: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1002;
  padding: 0;
}

.popup-content {
  max-width: 50%;
  width: 80vw;
  height: 100vh;
  overflow: auto;
  background-color: #ffffff;
  padding: 25px;
  border-radius: 5px;
  z-index: 1001;
  margin-right: auto;
}

.popup-header {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.popup-filter {
  margin-top: 20px;
}

.toggle-filter {
  font-size: 20px;
  cursor: pointer;
  // display: none;
}
.overlay-modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: rgba(56, 56, 56, 0.5);
}

.display-mobile {
  display: none !important;
}

.button-quantity,
.input-quantity {
  outline: none;
  cursor: pointer;
  border: 0;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1;
  letter-spacing: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.1s cubic-bezier(0.4, 0, 0.6, 1);
  border: 1px solid rgba(0, 0, 0, 0.09);
  border-radius: 2px;
  background: transparent;
  color: rgba(0, 0, 0, 0.8);
  width: 32px;
  height: 32px;
}
.input-quantity {
  width: 50px;
  height: 32px;
  border-left: 0;
  border-right: 0;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  cursor: text;
  border-radius: 0;
  -webkit-appearance: none;
}
.checked-all {
  cursor: pointer;
  font-size: 15px;
}
.delete-all {
  cursor: pointer;
  font-size: 15px;
}
.search,
.search-result {
  width: 361px;
}
.search {
  position: relative;
  height: 45px;
  background-color: white;
  border-radius: 92px;
  border: 2px solid rgb(221, 221, 227);
  padding-left: 16px;
  display: flex;

  input {
    flex: 1;
    font-size: 1.6rem;
    color: black;
    padding-right: 40px;
    // padding: 12px 0;
    // width: 100%;
    height: 100%;
    background-color: transparent;
    caret-color: red;
  }

  input:not(:placeholder-shown) ~ .search-btn {
    color: rgba(22, 24, 35, 0.75);
  }

  &::after {
    content: '';
    position: absolute;
    top: 9px;
    right: 53px;
    width: 1px;
    height: calc(45px - 16px);
    background-color: rgba(22, 24, 35, 0.12);
  }
  &:focus-within {
    border-color: rgba(22, 24, 35, 0.2);
  }
}

.clear,
.loading {
  position: absolute;
  right: 68px;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(22, 24, 35, 0.34);
  background-color: transparent;
}
.loading {
  animation: spinner 0.8s linear infinite;
}

@keyframes spinner {
  from {
    transform: translateY(-50%) rotate(0);
  }
  to {
    transform: translateY(-50%) rotate(360deg);
  }
}
.search-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 52px;
  height: 100%;
  border-top-right-radius: 92px;
  border-bottom-right-radius: 92px;
  font-size: 1.8rem;
  color: rgba(22, 24, 35, 0.34);

  &:hover {
    cursor: pointer;
    background-color: rgba(22, 24, 35, 0.03);
  }

  &:active {
    background-color: white;
  }
}
.wrapper {
  width: 100%;
  max-height: min((100vh - 96px) - 60px, 734px);
  min-height: 100px;
  border-radius: 8px;
  padding-top: 8px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgb(0 0 0 /12%) 0px 2px 12px;
}

// .search,
.search-result {
  width: 440px;
}
.search-title {
  padding: 5px 12px;
  font-size: 1.4rem;
  font-weight: 600;
  // color: rgba(22, 24, 35, 0.5);
}

.user-avatar {
  width: 45px;
  height: 45px;
  object-fit: cover;
  border-radius: 50%;
  margin-left: 12px;
  cursor: pointer;
}

.address-update {
  background-color: transparent;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 3px;
  margin-bottom: 5px;
}
.address-default {
  background-color: transparent;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 5px;
}
.auth-container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 678px;
  max-width: 100%;
  min-height: 400px;
  margin: 20px auto;
}
.SignUpContainer {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}
.SignUpContainer.signinIn {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
}
.SignInContainer {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
  left: 0;
  width: 50%;
  z-index: 2;
}
.SignInContainer.signinIn {
  transform: translateX(100%);
}

.form {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

.Title {
  font-weight: bold;
  margin: 0;
}
.Input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

.Button {
  border-radius: 20px;
  border: 1px solid #ff4b2b;
  background-color: #ff4b2b;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  &:active {
    transform: scale(0.95);
  }
  &:focus {
    outline: none;
  }
}
.GhostButton {
  background-color: transparent;
  border-color: #ffffff;
}

.Anchor {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}
.OverlayContainer {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}
.OverlayContainer.signinIn {
  transform: translateX(-100%);
  // z-index: 1;
}

.Overlay {
  background: #ff416c;
  background: -webkit-linear-gradient(to right, #ff4b2b, #ff416c);
  background: linear-gradient(to right, #ff4b2b, #ff416c);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #ffffff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}
.Overlay.signinIn {
  transform: translateX(50%);
}
.OverlayPanel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}
.OverlayPanel.LeftOverlayPanel {
  transform: translateX(-20%);
}
.OverlayPanel.LeftOverlayPanel.signinIn {
  transform: translateX(0);
}
.OverlayPanel.RightOverlayPanel {
  right: 0%;
  transform: translateX(0);
}
.OverlayPanel.RightOverlayPanel.signinIn {
  transform: translateX(20%);
}

.Paragraph {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}

.password-wrapper {
  position: relative;
  // background-color: #eee;
  // border: none;
  // /* padding: 12px 15px; */
  // margin: 8px 0;
  // width: 100%;
}

.password-toggle-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.password-toggle-icon i {
  font-size: 1.5rem;
}
.password-toggle-icon:hover i {
  color: #007bff;
}

.password-toggle-icon.active i {
  color: #007bff;
}

.password-toggle-icon.active i.fa-eye-slash {
  display: none;
}

.password-toggle-icon.active i.fa-eye {
  display: block;
}
.password-input.show-password {
  -webkit-text-security: none;
  -moz-text-security: none;
  -ms-text-security: none;
}

/* CSS cho Toast.js */
.toast-container {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9999;
}

.toast {
  background-color: #333;
  color: #fff;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}